header{
    background-color: #0077b6;
    top: 0px;
    color: #03045e;
}

#autor{
    color: darkgrey;
}

#languageButton{
    margin: auto;
    width: 150px;
    text-align: center;
    background-color: #00b4d8;
}

main{
    margin-bottom: 80px;
}
/*
    flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    permite que los elementos esten distribuidos de manera flexible
    flex-direction: column hace que los elementos esten dispuestos de manera vertical
    y column-reverse: hace que los elementos esten invertidos
*/
footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-image: url("brujula.png");
    background-size: 78px;
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 80px;
    background-color: #0077b6;
    display: flex;
    flex-direction: column-reverse;
    z-index: 999;
}
/*
    Cuando no esta colapsado se aplican los estilos al elemento
    !important es para darle prioridad
*/
.accordion-button:not(.collapsed){
    background-color: #caf0f8 !important;
}