header{
    background-color: royalblue;
    top: 0px;
}

#autor{
    color: darkgrey;
}

main{
    margin-bottom: 80px;
}
/*
    flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    permite que los elementos esten distribuidos de manera flexible
    flex-direction: column hace que los elementos esten dispuestos de manera vertical
    y column-reverse: hace que los elementos esten invertidos
*/
footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-image: url("brujula.png");
    background-size: 78px;
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 80px;
    background-color: royalblue;
    display: flex;
    flex-direction: column-reverse;
    z-index: 999;
}